/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #af3838; color:#fff; text-shadow: none; }
::selection { background:#af3838; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }


/**
 * Prez. stles
 *
 * Author: Takeshi Takatsudo
 */
body, select, input, textarea { 
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Arial, Helvetica, sans-serif;
}
html.os-win body,html.os-win select,html.os-win input,html.os-win textarea { 
	/*
		os-win will be attached via js.
		windows' Hiragino rendering is awful.
	*/
	font-family:'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
html,body{
	overflow:hidden;
}
body{
	background:#222;
	color:#fff;
}
a{ color:#fff; }
a:hover { color:#000; background:#fff }
.mod-all{
	font-size:1.1em;
	line-height:1.5;
}

.prez-info{
	display:none;
}

.prez-overView{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background:rgba(0,0,0,.8);
	z-index:9999;
	overflow:hidden;
}
	.prez-overView-hd{
		padding:1.25em 20px;
		position:absolute;
		left:0;
		bottom:0;
		right:0;
		background:rgba(255,255,255,.8);
		color:#000;
		z-index:10000;
		text-shadow: 1px 1px 1px #999;
		-webkit-box-shadow: 0 -2px 10px rgba(0,0,0,.4);
		-moz-box-shadow: 0 -2px 10px rgba(0,0,0,.4);
		box-shadow: 0 -2px 10px rgba(0,0,0,.4);
	}
		.prez-overView-hd h1{
			font-size:1.5em;
			font-weight:bold;
			padding:.2em 0 .25em;
		}
		.prez-overView-hd p{
		}
	.prez-overView-bd{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width:100%;
		height:100%;
		overflow:hidden;
	}
		.prez-overView-groups{
			display:table;
			padding:10px 10px 10px 0;
		}
			.prez-overView-group{
				display:table-cell;
				vertical-align:top;
				padding:0 0 0 10px;
			}
				.prez-overView-page{
					width: 120px;
					display:block;
					margin:0 0 10px;
					height:80px;
					border:3px solid #ddd;
					padding:5px;
					position:relative;
					background:#fff;
					overflow:hidden;
					line-height:1.2;
				}
				.prez-overView-page{
					color:#000;
					text-decoration:none
				}
				.prez-overView-page:hover,
				.prez-overView-page:active,
				.prez-overView-page:focus{
					opacity:.6;
				}
				.prez-overView-page-selected{
					background:#af3838;
					border-color:#f00;
					color:#fff;
				}
				.prez-overView-page-selected:hover,
				.prez-overView-page-selected:focus{
					background:#af3838;
				}
					.prez-overView-page-main{
						font-size:.75em;
						line-height:1.5;
					}
						.prez-overView-page-main b{
							font-weight:bold;
							font-size:1.5em;
						}
					.prez-overView-page-num{
						position:absolute;
						bottom:0;
						right:0;
						text-align:center;
						color:#fff;
						padding:.2em .25em .25em;
						border:1px solid #333;
						min-width:2em;
						text-align:center;
						background:#333;
					}
	.prez-overView-close{
		position:fixed;
		right:10px;
		bottom:10px;
		background:#000;
		color:#fff;
		text-decoration:none;
		font-size:3em;
		text-align:center;
		padding:0 .5em;
		z-index:10001;
		border:3px solid #000;
	}
	.prez-overView-close:hover{
		background:#af3838;
		color:#fff;
		border-color:#f00;
	}

.prez-presenView{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
}
	.prez-presenView-all{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		-webkit-transform-origin: 0 0;
		   -moz-transform-origin: 0 0;
		     -o-transform-origin: 0 0;
		        transform-origin: 0 0;
		-webkit-transition: all .75s cubic-bezier(0,0,0,1);
		   -moz-transition: all .75s cubic-bezier(0,0,0,1);
		     -o-transition: all .75s cubic-bezier(0,0,0,1);
		        transition: all .75s cubic-bezier(0,0,0,1);
	}
		.prez-presenView-group{
			position:absolute;
			width:100%;
			height:100%;
			/* left, right will be handled by js */
		}
			.prez-presenView-page{
				position:absolute;
				width:100%;
				height:100%;
				overflow:hidden;
				/* left, right will be handled by js */
			}
				.prez-presenView-page-main{
				}
				.prez-presenView-page-num{
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					text-align:center;
				}
				.prez-presenView-page-num span{
					display:inline-block;
					padding:.25em;
					font-size:2em;
				}
	.prez-presenView-showOverView{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 10px;
		z-index: 998;
		color: #fff;
	}


#prez-pageStorage{
	display:none;
}


/**
 * page styles
 *
 * Author: 
 */
.mod-page{
	font-size:2.75em;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
}
	.mod-page *{
		-webkit-transform:translate3d(0,0,0); /* avoid Safari flicker bug */
	}
	.mod-page > div{
		display:table;
		width:100%;
		height:100%;
	}
	.mod-page > div > div{
		display:table-cell;
		text-align:left;
		vertical-align:top;
		padding:30px;
	}

/* help */

.mod-page.help{
	background:#000;
}
	.mod-page.help > div > div{
		text-align:center;
		vertical-align:middle;
		font-family:Arial, Helvetica, sans-serif;
		text-shadow: 2px 2px 0 #333;
		font-size:.75em;
	}
		.mod-page.help h1{
			border-bottom:1px solid #fff;
			font-size:2em;
			padding:0 0 .25em;
		}
		.mod-page.help table{
			list-style-type:none;
			margin:0 0 1em;;
			width:100%;
			border-collapse:separate;
		}
			.mod-page.help th,
			.mod-page.help td{
				border-bottom:1px solid #fff;
				padding:.25em .5em;
			}
			.mod-page.help th{
				width:25%;
				border-right:1px solid #fff;
			}
			.mod-page.help td{
				width:75%;
				text-align:left;
			}

/* copy */

.mod-page.copy{
	background:#000;
	font-size:2.5em;
}
	.mod-page.copy > div > div{
		vertical-align:middle;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		color:#af3838;
	}
	.mod-page.copy a{
		color:#af3838;
	}
	.mod-page.copy a:hover{
		color:#fff;
		background:#af3838;
	}
		.mod-page.copy h1{
			font-size:5em;
			margin:0 0 .2em .2em;
			line-height:1;
		}
		.mod-page.copy p{
			padding:0 0 1em;
		}

/* title */

.mod-page.title{
	text-shadow: #000 0 5px 5px ;
}
	.mod-page.title > div > div{
		text-align:center;
		vertical-align:middle;
		font-size:1.5em;
	}
		.mod-page.title h1{
			font-size:2em;
			padding:0 0 .25em;
		}
		.mod-page.title p{
		}


/* plain */

.mod-page.plain{
}
	.mod-page.title > div > div{
	}
		.mod-page.plain h1{
			font-size:1.5em;
			line-height:1.2;
			padding:0 0 .25em;
			text-shadow: #000 0 5px 5px ;
		}
		.mod-page.plain p{
			padding:0 0 .5em;
		}
		.mod-page.plain ul{
			padding:0 0 .25em;
			margin:0 0 0 1.25em;
		}
			.mod-page.plain ul li{
				padding:0 0 .25em;
			}
		.mod-page.plain ol{
			padding:0 0 .25em;
			margin:0 0 0 2em;
		}
			.mod-page.plain ol li{
				padding:0 0 .25em;
			}


/* write your own styles here */







/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

